
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*寬高設定作用在邊框外緣的範圍內*/
    font-family: 'Lexend Deca';
}
.navbar{
    display: flex;
    padding: 0 100px;
    align-items: center;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    background-color: #f0f8ff;
}
.navbar_img_logo img{
    width: 119.5px;
}
.navbar_searchbar{
    display:flex;
    width: 500px;
    height: 35px;
    align-items: center;
    border-style: solid;
    border-color: #265687;
    border-radius: 30px;
    padding: 0 20px;
}
.navbar_searchbar_text h1{
    font-size: 15px;
    color: #0000005c;
    font-weight: bold;
    margin: 0 10px;
}
.navbar_searchbar_icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='m11.271 11.978l3.872 3.873a.5.5 0 0 0 .708 0a.5.5 0 0 0 0-.708l-3.565-3.564c2.38-2.747 2.267-6.923-.342-9.532c-2.73-2.73-7.17-2.73-9.898 0s-2.728 7.17 0 9.9a6.96 6.96 0 0 0 4.949 2.05a.5.5 0 0 0 0-1a5.96 5.96 0 0 1-4.242-1.757a6.01 6.01 0 0 1 0-8.486a6.004 6.004 0 0 1 8.484 0a6.01 6.01 0 0 1 0 8.486a.5.5 0 0 0 .034.738'/%3E%3C/svg%3E");
    background-color: #265687;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.navbar_optionblock{
    display: flex;
    justify-content: right;
        
}
.navbar_option{
    margin: 0 15px;
}
.navbar_option:hover{
    background-color: #265687;
}
.navbar_option  a:hover{
    color: #f0f8ff;
}
.navbar_option a{
    color: #265687;
    font-weight: bold;
    text-decoration: none;
}
.content_newsblock{
    width: 1200px;
    height: 700px;
    background-color: #f0f8ff;
    border-radius: 30px;
    margin: 70px 20%;
    padding: 35px;
}
.content_newsblock_more{
    font-size: 15px;
    text-align: right;
    letter-spacing: 5px;
    color: #8B8B8B;
    font-weight: 900;
}
.content_newsblock_more a{
    text-decoration: none;
    color: #8B8B8B;
}
.content_newsblock_more a:hover{
    color: #265687;
}
.content_newsblock_title{
    font-size: 60px;
    letter-spacing: 5px;
    font-weight: 900;
}
.content_newsblock_buttonblock{
    display: flex;
    margin: 30px 0;
}
.content_newsblock_button{
    margin: 0 20px 0 0;
    padding: 5px 20px;
    border-style: solid;
    border-color: #265687;
    border-radius: 15px;
    letter-spacing: 5px;
    font-weight: 900;
    color: #265687;
}
.content_newsblock_button:hover{
    background-color: #265687;
    border-color: #265687;
    color: #f0f8ff;
}
.content_newsblock_articleblock_1{
    display: flex;
}
.content_newsblock_articleblock_2{
    display: flex;
    margin: 20px 0;
}
.content_newsblock_article{
    width: 550px;
    height: 200px;
    background-color: white;
    border-radius: 20px;    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
.content_newsblock_article:hover{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}
.content_newsblock_article a{
    display: flex;
    text-decoration: none;
    padding: 20px;
}
.content_newsblock_article_img{
    width: 200px;
    height: 160px;
    margin: 0 15px 0 0;
}
.content_newsblock_article_img img{
    width: 200px;
    height: 160px;
}
.content_newsblock_article_title{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.content_newsblock_article_left{
    margin: 0 10px 0 0;
}
.content_newsblock_article_right{
    margin: 0 0 0 10px;
}