body{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: 12px;
    box-sizing: border-box;
}

.nav-block{
    background-color: #fff;
    width: 100%;
    height: 15vw;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    box-shadow:  0 0 10px rgba(0,0,0,0.1);
    position: fixed;
}

.nav-logo{
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo a{
    display: inline-block;
    width: 80%;
    height: 80%;
}

.nav-logo-img{
    background-image: url(img/credit\ logo.svg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.nav-search{
    width: 85%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 15% 0 0;
}

#search:checked ~ .nav-search-input {
    display: block;
}

.nav-search-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m20 20l-4.05-4.05m0 0a7 7 0 1 0-9.9-9.9a7 7 0 0 0 9.9 9.9'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #379BB5;
  }

.nav-search-input{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;    
    display: none;
}

.nav-search-input-fliter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-block{
    width: 80vw;
    height: 30%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.input-block input{
    border: #e7e7e7 2px solid;
    border-radius: 10px;
    margin-bottom: 30px;
    outline: none;
    padding: 10px 15px;
    width: 70%;
}

.input-block button{
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    background-color: #379BB5;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 10px;
}

.close-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2m2.71 11.29a1 1 0 0 1 0 1.42a1 1 0 0 1-1.42 0L12 13.41l-1.29 1.3a1 1 0 0 1-1.42 0a1 1 0 0 1 0-1.42l1.3-1.29l-1.3-1.29a1 1 0 0 1 1.42-1.42l1.29 1.3l1.29-1.3a1 1 0 0 1 1.42 1.42L13.41 12Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #379BB5;
    position: absolute;
    bottom: -80px;
    right: 35vw;
}

#menu:checked ~ .nav-menu-block{
    display: block;
    z-index: 3;
}

.nav-menu{
    width: 85%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 15%;
}

.check-icon{
    display: none;
}

.nav-menu-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M2 5.995c0-.55.446-.995.995-.995h8.01a.995.995 0 0 1 0 1.99h-8.01A.995.995 0 0 1 2 5.995M2 12c0-.55.446-.995.995-.995h18.01a.995.995 0 1 1 0 1.99H2.995A.995.995 0 0 1 2 12m.995 5.01a.995.995 0 0 0 0 1.99h12.01a.995.995 0 0 0 0-1.99z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #379BB5;
    z-index: 20;
}

#menu:checked ~ label .nav-menu-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-dasharray='16' stroke-dashoffset='16' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M7 7l10 10'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.4s' values='16;0'/%3E%3C/path%3E%3Cpath d='M17 7l-10 10'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.4s' dur='0.4s' values='16;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    z-index: 20;
    position: fixed;
    top: 20px;
    left: 20px;
  }

.nav-menu-block{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(150deg, rgba(176,255,241,0.5) 0%, rgba(55,155,181,0.8) 100%);
}

.nav-menu nav{
    width: 100%;
    height: 50%;
    padding: 18vw 20px 20px 20px;
}

.nav-menu nav ul li{
    margin-bottom: 10vw;

}

.nav-menu nav ul li a{
    text-decoration: none;
    text-align: left;
    color: #000;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 2vw 0;
    border-bottom: transparent 1px solid ;
    transition: border-bottom 0.5s 0s ease-in-out;
}

.nav-menu nav ul li a:hover{
    border-bottom: #379BB5 1px solid ;
    color: #00586d;
}
.content{
    width: 100%;
    padding-top: 15vw;
}

.banner{
    width: 100%;
    height: 50vw;
}
.banner-img{
    width: 100%;
    height: 50vw;
    background-image: url(img/credit-banner.png);
    background-position: center;
    background-size: cover;
}

.content-block{
    background-color: #379BB5;
    
}

.newsblock{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 10%;
    padding: 5vw 2vw;
    height: 80vw;
}

.block-more{
    grid-row-start: 7;
    grid-row-end: 8;
    display: flex;
    align-items: end;
    justify-content: center;
}

.block-more a{
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
}

.block-title{
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-title h1{
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-align: center;
}
.block-buttonblock{
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
}
.block-buttonblock ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.block-buttonblock ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    margin: 0 10px;
    border: #00586d 1px solid;
    border-radius: 50px;
    font-size: 0.8rem;
}
.block-articleblock{
    grid-row-start: 3;
    grid-row-end: 6;
    margin: 0 auto;
    padding: 5px 10px 0 10px;
}

.block-article a{
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 15px;
}

.block-article-title{
    
}