@media (min-width:768px) {
    
}
body {
    display: flex;
    flex-direction: column;
}

.nav-block {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vw;
    justify-content: space-around;
    max-height: 80px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.navbar-logo {
    width: 8vw;
    max-width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo a {
    display: block;
    width: 8vw;
    max-width: 200px; 
}

.logo-img {
    width: 8vw;
    max-width: 150px;
    height: 3vw;
    max-height: 35px;
    background-image: url(img/Credit\ Logo.png);
    background-size: cover;
    background-position: center;
}

.navbar-searchbar {
    display: flex;
    width: 30vw;
    height: 2vw;
    align-items: center;
    border: #000 2px solid;
    border-radius: 30px;
}

.navbar_searchbar-text {
    width: 90%;
}

.navbar-searchbar-text input {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    border-style: none;
    outline: none;
    background-color: transparent;
    width: 90%;
}

.navbar-searchbar-icon {
    display: inline-block;
    width: 10%;
    height: 55%;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='m11.271 11.978l3.872 3.873a.5.5 0 0 0 .708 0a.5.5 0 0 0 0-.708l-3.565-3.564c2.38-2.747 2.267-6.923-.342-9.532c-2.73-2.73-7.17-2.73-9.898 0s-2.728 7.17 0 9.9a6.96 6.96 0 0 0 4.949 2.05a.5.5 0 0 0 0-1a5.96 5.96 0 0 1-4.242-1.757a6.01 6.01 0 0 1 0-8.486a6.004 6.004 0 0 1 8.484 0a6.01 6.01 0 0 1 0 8.486a.5.5 0 0 0 .034.738'/%3E%3C/svg%3E");
    background-color: #000;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

nav {
    width: 50vw;
    max-width: 600px;
    height: 100%;
}

.menu-btn {
    display: none;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav ul li {
    height: 100%;
    width: 50%;
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 4vw;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s 0s ease-in-out;
}

nav ul li a:hover {
    font-weight: 900;
    color: #FFF;
    background-color: #29C8FF;
}